html {
  margin: 40px; }

input[type="search"] {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: Arial;
  -moz-appearance: none;
  -moz-box-sizing: padding-box;
  -webkit-appearance: none;
  -webkit-box-sizing: padding-box; }
  input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none; }
  input[type="search"]:focus {
    outline: 0; }

.default {
  position: relative;
  height: 38px;
  white-space: nowrap;
  margin-bottom: 8px;
  width: 500px; }
  .default input {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    padding-left: 13.25px;
    line-height: 38px;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 3px;
    background: white; }
    .default input:hover {
      border-color: #b3b3b3; }
    .default input:focus {
      background: white;
      border-color: #3E82F7; }
    .default input::-webkit-input-placeholder {
      color: #aaa; }
    .default input::-moz-placeholder {
      color: #aaa; }
    .default input:-ms-input-placeholder {
      color: #aaa; }
    .default input:-moz-placeholder {
      color: #aaa; }
  .default .ui-icon-input {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 38px;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
    text-align: center;
    background-color: #3E82F7; }
    .default .ui-icon-input:before {
      content: "";
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .default .ui-icon-input:hover {
      cursor: pointer;
      background-color: #6fa2f9; }
    .default .ui-icon-input img {
      height: 19px;
      vertical-align: middle; }
  .default #clear-q {
    position: absolute;
    top: 13px;
    left: 438px;
    opacity: 0.6;
    line-height: 0;
    height: 12px; }
    .default #clear-q:hover {
      opacity: 1; }
    .default #clear-q.hide {
      display: none; }
    .default #clear-q img {
      height: 12px; }

.ui-search {
  position: relative;
  height: 40px;
  white-space: nowrap;
  margin-bottom: 8px;
  width: 500px; }
  .ui-search input {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding-left: 20.5px;
    line-height: 40px;
    border-width: 1px;
    border-color: #D6DEE3;
    border-style: solid;
    border-radius: 30px;
    background: #F5F8FA; }
    .ui-search input:hover {
      border-color: #b8c6ce; }
    .ui-search input:focus {
      background: white;
      border-color: #D6DEE3; }
    .ui-search input::-webkit-input-placeholder {
      color: #aaa; }
    .ui-search input::-moz-placeholder {
      color: #aaa; }
    .ui-search input:-ms-input-placeholder {
      color: #aaa; }
    .ui-search input:-moz-placeholder {
      color: #aaa; }
  .ui-search .ui-icon-input {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    vertical-align: middle;
    border-radius: 0 30px 30px 0;
    text-align: center;
    background-color: transparent; }
    .ui-search .ui-icon-input:before {
      content: "";
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .ui-search .ui-icon-input:hover {
      cursor: pointer;
      background-color: rgba(26, 26, 26, 0); }
    .ui-search .ui-icon-input img {
      height: 18px;
      vertical-align: middle; }
  .ui-search #clear-q {
    position: absolute;
    top: 14px;
    left: 436px;
    opacity: 0.6;
    line-height: 0;
    height: 12px; }
    .ui-search #clear-q:hover {
      opacity: 1; }
    .ui-search #clear-q.hide {
      display: none; }
    .ui-search #clear-q img {
      height: 12px; }
