@import "theme-default"
$config-name: 'meetup'
$search-input-height: 44px
$search-input-width: 300px
$search-border-radius: 3px
$search-icon-color: white
$search-icon-background: transparent
$search-font-size: 16px
$search-input-background: #F5F8FA
$search-icon-size: 24px
$search-icon-position: right
$search-input-border-color: #D6DEE3
$search-input-focus-border-color: #D6DEE3
