@charset 'utf-8';

$primary-color: #2fc9e8;

@import 'vendors/prism';
@import 'vendors/selectric';
@import 'vendors/SassyJSON';

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin row {
  font-size: 0;
}

@mixin col($col, $sum, $gap: 1em) {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;

  @media only screen and (min-width: 1200px) {
    width: percentage($col / $sum);
    vertical-align: top;
  }
}

body {
  position: relative;
  margin: 0;
  background-color: #f3f5f6;
  width: 100%;
  min-width: 1000px;
  color: #7e94a2;
  font-family: 'canada-type-gibson';
}

.row {
  @include row;
}

.col-6 {
  @include col(6, 12);
}

.text-center {
  text-align: center;
}

.generator-sidebar {
  float: left;
  margin: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px #cdd4d7;
  background: #fff;
  padding: 30px 0;
  width: 300px;
  height: 100%;
}

.main-content {
  float: left;
  width: calc(100% - 340px);
}

.demo-header {
  background-color: $primary-color;
  padding: 10px 0;
}

// typo
h1 {
  display: inline-block;
  margin: 20px;
  border-radius: 90px;
  background-color: rgba(#fff, .2);
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 60px;
  color: #fff;
  font-size: 40px;
  font-weight: 300;

  svg {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    fill: #fff;
  }
}

h2 {
  margin: 40px 0 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
}

h3 {
  float: left;
  width: 100%;
  clear: both;
  margin: 10px 0 20px;
  border-bottom: solid 1px #cdd4d7;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #cdd4d7;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
}

.github-source {
  position: absolute;
  top: 0;
  right: 0;

  svg {
    width: 100px;
    height: 100px;
    fill: #fff;
  }
}

.icon {
  display: inline-block;
  position: relative;
  top: -2px;
  transition: all .2s ease;
  margin-right: 8px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: #7e94a2;
}

.btn {
  display: inline-block;
  transition: all .2s ease;
  border-radius: 3px;
  box-shadow: inset 0 0 1px darken(#cdd4d7, 15%);
  padding: 0 12px;
  text-decoration: none;
  line-height: 30px;
  color: #7e94a2;
  font-size: 14px;
  box-sizing: border-box;
  user-select: none;

  &.active,
  &:hover,
  &:focus {
    outline: 0;
    box-shadow: 0 0 5px #cdd4d7;
    background-color: #fff;
    color: #7e94a2;

    .icon {
      fill: #7e94a2;
    }
  }
}

.download-zip {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
}

.copy {
  position: absolute;
  top: - 38px;
  right: 12px;
  font-size: 12px;
}

.tabs-pane,
.pane {
  position: relative;
}

.settings {
  padding: 0 12px;

  .form-group {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 12px;
    margin: 0 0 12px 0;
    height: 50px;
    &.full {
      width: 100%;
    }
  }

  .icon-select-option,
  .icon-select-label {
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  p {

    &.warning {
      display: block;
      background-color: #ffdd78;
      padding: 8px;
    }
  }

  label {
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    white-space: nowrap;
  }

  [type='text'],
  [type='number'],
  .selectric {
    border: none;
    width: 100px;
    margin-top: 4px;
    line-height: 22px;
    font-size: 15px;
    border-bottom: solid 1px #ccc;
    position: relative;

    &:focus {
      outline: 0;
      border-bottom: solid 2px $primary-color;
    }

    &.jscolor {
      padding: 0;
      text-align: center;
      font-size: 12px;
    }
  }
}

.snippet {
  border-top: 1px #cdd4d7 solid;
  background-color: transparent;
  padding: 20px;
  height: 800px;
  font-size: 14px;

  &.bordered {
    border-right: 1px #cdd4d7 solid;
  }
}

.tabs,
.inline-list {
  display: block;
  margin: 0;
  border-top: 1px #cdd4d7 solid;
  padding: 10px 0 0;
  height: 30px;
  list-style: none;
  text-align: center;
  line-height: 30px;

  li {
    display: inline-block;
    margin-right: 8px;

    &.right {
      float: right;
    }
  }
}

.tabs-pane {
  display: none;
  visibility: hidden;

  &.active {
    display: block;
    visibility: visible;
  }
}

.preview {
  margin-right:12px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px #cdd4d7;
  background: #fff;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.searchbox-demo {
  margin-bottom: 0;
  padding: 18px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  transition: all .5s linear;

  &.sbx-google-demo {
    background-color: #fff;
  }

  &.sbx-twitter-demo {
    background-color: #fff;
  }

  &.sbx-amazon-demo {
    background-color: #202f40;
  }

  &.sbx-spotify-demo {
    background-color: #272727;
  }

  &.sbx-meetup-demo {
    background-color: #505050;
  }

  &.sbx-medium-demo {
    background-color: #fff;
  }

  &.sbx-facebook-demo {
    background-color: #3e5da0;
  }

  .searchbox {
    transition: all .5s ease;
  }
}

.loading-wrapper {
  float: left;
  margin: 150px 0 0;
  width: calc(100% - 340px);
}

.loading {
  position: relative;
  margin: 0 auto;
  width: 40px;
  height: 40px;

  &::before {
    position: absolute;
    content: '';
    margin: -20px 0 0 -20px;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    animation: spin .6s linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
    border-color: #767676 transparent transparent;
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px transparent;
  }

  &::after {
    position: absolute;
    content: '';
    margin: -20px 0 0 -20px;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: .2em solid rgba(0,0,0,.1);
  }
}

.message-demo {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(#fff, .3);
  text-align: center;
  line-height: 26px;
  color: #000;

  strong {
    color: #000;
  }
}

.hide {
  display: none;
}

@import 'searchbox';

@import 'sbx-themes/amazon';
@import 'sbx-themes/google';
@import 'sbx-themes/facebook';
@import 'sbx-themes/medium';
@import 'sbx-themes/meetup';
@import 'sbx-themes/spotify';
@import 'sbx-themes/twitter';
@import 'sbx-themes/airbnb';

@include searchbox();
@include searchbox(($amazon)...);
@include searchbox(($google)...);
@include searchbox(($facebook)...);
@include searchbox(($medium)...);
@include searchbox(($meetup)...);
@include searchbox(($spotify)...);
@include searchbox(($twitter)...);
@include searchbox(($airbnb)...);

.amazon-theme::before {
  @include json-encode($amazon);
}

.facebook-theme::before {
  @include json-encode($facebook);
}

.google-theme::before {
  @include json-encode($google);
}

.medium-theme::before {
  @include json-encode($medium);
}

.meetup-theme::before {
  @include json-encode($meetup);
}

.spotify-theme::before {
  @include json-encode($spotify);
}

.twitter-theme::before {
  @include json-encode($twitter);
}

.airbnb-theme::before {
  @include json-encode($airbnb);
}

@keyframes flash {

  0% {
    background-color: rgba(#fff, 1);
  }

  100% {
    background-color: rgba(#fff, 0);
  }
}

.flash {
  animation-name: flash;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes spin {

    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes flash {

  0% {
    background-color: rgba(#fff, 1);
  }

  100% {
    background-color: rgba(#fff, 0);
  }
}

@keyframes fade {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
