@charset 'utf-8'

//demo
.demos
  margin: 40px
  h1
    text-align: center
  h2
    margin: 40px 0 0 0
    font-size: 16px
  .demo
    padding: 14px
    > div
      margin: 0 auto
    &.demo-default
      background-color: #F1F1F1
    &.demo-twitter
      border-top: solid 1px #D6DEE3
      background-color: white
    &.demo-amazon
      background-color: #202F40
    &.demo-spotify
      background-color: #272727
    &.demo-meetup
      background-color: #505050
    &.demo-medium
      border-top: solid 1px #D9D9D9
      background-color: white
    &.demo-facebook
      background-color: #3E5DA0

//reset
input[type="search"]
  margin: 0
  border: 0
  padding: 0
  display: inline-block
  vertical-align: middle
  white-space: normal
  background: none
  line-height: 1
  font-size: 13px
  font-family: Arial
  -moz-appearance: none
  -moz-box-sizing: padding-box
  -webkit-appearance: none
  -webkit-box-sizing: padding-box
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration
    display: none
  // Remove the stupid outer glow in Webkit
  &:focus
    outline: 0

@mixin awesome-searchbox($config)
  .#{$config}
    position: relative
    height: $search-input-height
    white-space: nowrap
    width: $search-input-width
    input
      display: inline-block
      width: 100%
      height: 100%
      font-size: $search-font-size
      padding-left: if($search-icon-position == 'right',($search-input-height - $search-font-size)/2 + $search-border-radius/4, $search-input-height )
      line-height: $search-input-height
      border-width: $search-border-width
      border-color: $search-input-border-color
      border-style: solid
      border-radius: $search-border-radius
      background: $search-input-background
      &:hover
        border-color: darken($search-input-border-color,10%)
      &:focus
        background: $search-input-focus-background
        border-color: $search-input-focus-border-color
      &::-webkit-input-placeholder
        color: $search-placeholder-color
      &::-moz-placeholder
        color: $search-placeholder-color
      &:-ms-input-placeholder
        color: $search-placeholder-color
      &:-moz-placeholder
        color: $search-placeholder-color
    .ui-icon-input
      position: absolute
      #{$search-icon-position}: 0
      top: 0
      height: 100%
      width: $search-input-height
      vertical-align: middle
      border-radius: if($search-icon-position == 'right',0 $search-border-radius $search-border-radius 0, $search-border-radius 0 0 $search-border-radius)
      text-align: center
      background-color: $search-icon-background
      // Helper for vertical alignement of the icon
      &:before
        content: ''
        display: inline-block
        height: 100%
        margin-right: -4px
        vertical-align: middle
      &:hover
        cursor: pointer
        background-color: lighten($search-icon-background,10%)
      svg
        height: $search-icon-size
        width: $search-icon-size
        vertical-align: middle
        use
          fill: red
    #clear-q
      position: absolute
      top: ($search-input-height - $search-clear-size )/2
      left: $search-input-width - $search-clear-size*2 - if($search-icon-position == 'right',$search-input-height,0)
      opacity: .6
      line-height: 0
      height: $search-clear-size
      &:hover
        opacity: 1
      &.hide
        display: none
      svg
        height: $search-clear-size

@import "theme-default"
+awesome-searchbox($config-name)

@import "theme-twitter"
+awesome-searchbox($config-name)

@import "theme-amazon"
+awesome-searchbox($config-name)

@import "theme-spotify"
+awesome-searchbox($config-name)

@import "theme-meetup"
+awesome-searchbox($config-name)

@import "theme-medium"
+awesome-searchbox($config-name)

@import "theme-facebook"
+awesome-searchbox($config-name)
