@charset 'utf-8';

$primary-color: #2fc9e8;

@import 'vendors/prism';
@import 'vendors/selectric';
@import 'vendors/SassyJSON';

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin row {
  font-size: 0;
}

@mixin col($col, $sum, $gap: 1em) {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;

  @media only screen and (min-width: 768px) {
    width: percentage($col / $sum);
    vertical-align: top;
  }
}

body {
  position: relative;
  margin: 0;
  background-color: #f3f5f6;
  width: 100%;
  min-width: 1000px;
  color: #7e94a2;
  font-family: 'canada-type-gibson';
}

.row {
  @include row;
}

.col-6 {
  @include col(6, 12);
}

.text-center {
  text-align: center;
}

.generator-sidebar {
  float: left;
  margin: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px #cdd4d7;
  background: #fff;
  padding: 30px 0;
  width: 300px;
  height: 100%;
}

.main-content {
  float: left;
  width: calc(100% - 340px);
}

.demo-header {
  background-color: $primary-color;
  padding: 10px 0;
}

// typo
h1 {
  display: inline-block;
  margin: 20px;
  border-radius: 90px;
  background-color: rgba(#fff, .2);
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 60px;
  color: #fff;
  font-size: 40px;
  font-weight: 300;

  svg {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    fill: #fff;
  }
}

h2 {
  margin: 40px 0 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
}

h3 {
  margin: 20px 10px 10px;
  border-bottom: solid 1px #cdd4d7;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #cdd4d7;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
}

.github-source {
  position: absolute;
  top: 0;
  right: 0;

  svg {
    width: 100px;
    height: 100px;
    fill: #fff;
  }
}

.icon {
  display: inline-block;
  position: relative;
  top: -2px;
  transition: all .2s ease;
  margin-right: 8px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: #7e94a2;
}

.btn {
  display: inline-block;
  transition: all .2s ease;
  border-radius: 3px;
  box-shadow: inset 0 0 1px darken(#cdd4d7, 15%);
  padding: 0 12px;
  text-decoration: none;
  line-height: 30px;
  color: #7e94a2;
  font-size: 14px;
  user-select: none;

  &.active,
  &:hover,
  &:focus {
    background-color: #fff;
    color: #7e94a2;
    outline: 0;
    box-shadow: 0 0 5px #cdd4d7;
    .icon {
      fill: #7e94a2;
    }
  }
}

.copy {
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 12px;
}

.tabs-pane,
.pane {
  position: relative;
}

.settings {
  padding: 0 12px;
  .icon-select-option,
  .icon-select-label {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
    margin-right: 8px;
  }
  p {
    padding: 0;
    margin: 0 0 4px 0;
    &.warning {
      background-color: #ffdd78;
      padding: 8px;
      display: block;
    }
  }
  label {
    display: inline-block;
    font-size: 12px;
    padding-right: 4px;
    letter-spacing: 1px;
    line-height: 34px;
    text-align: right;
    width: 160px;
    text-transform: uppercase;
  }
  input[type='text'],
  input[type='number'] {
    box-shadow: inset 0 0 0 1px #fff;
    padding: 0 12px;
    line-height: 28px;
    border: solid 1px #cdd4d7;
    width: 56px;
    font-size: 12px;
    &:focus {
      border-color: black;
      outline: 0;
    }
  }
}

.snippet {
  font-size: 14px;
  height: 800px;
  padding-top: 50px !important;
  background-color: transparent !important;
  border-top: 1px #cdd4d7 solid;
  &.bordered {
    border-right: 1px #cdd4d7 solid;
  }
}

.tabs,
.inline-list {
  margin: 0 0 12px 0;
  padding: 20px 0 0 0;
  list-style: none;
  display: block;
  height: 30px;
  line-height: 30px;
  li {
    display: inline-block;
    margin-right: 8px;
    &.right {
      float: right;
    }
  }
}

.tabs-pane {
  display: none;
  visibility: hidden;
  &.active {
    display: block;
    visibility: visible;
  }
}

#preview {
  margin-right: 20px;
  padding: 8px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 5px #cdd4d7;
}

#demo {
  padding: 18px;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  &.sbx-google_demo {
    background-color: #fff;
  }
  &.sbx-twitter_demo {
    background-color: #fff;
  }
  &.sbx-amazon_demo {
    background-color: #202f40;
  }
  &.sbx-spotify_demo {
    background-color: #272727;
  }
  &.sbx-meetup_demo {
    background-color: #505050;
  }
  &.sbx-medium_demo {
    background-color: #fff;
  }
  &.sbx-facebook_demo {
    background-color: #3e5da0;
  }
}

.message-demo {
  text-align: center;
  color: #aaaaaa;
  position: absolute;
  display: block;
  line-height: 26px;
  color: black;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(#fff, .3);
  strong {
    color: black;
  }
}

.hide {
  display: none;
}

@import 'searchbox';

@import 'sbx-themes/amazon';
@import 'sbx-themes/google';
@import 'sbx-themes/facebook';
@import 'sbx-themes/medium';
@import 'sbx-themes/meetup';
@import 'sbx-themes/spotify';
@import 'sbx-themes/twitter';


@include searchbox();
@include searchbox(($amazon)...);
@include searchbox(($google)...);
@include searchbox(($facebook)...);
@include searchbox(($medium)...);
@include searchbox(($meetup)...);
@include searchbox(($spotify)...);
@include searchbox(($twitter)...);

.amazon-theme:before{
  @include json-encode($amazon);
}
.facebook-theme:before{
  @include json-encode($facebook);
}

.google-theme:before{
  @include json-encode($google);
}
.medium-theme:before{
  @include json-encode($medium);
}
.meetup-theme:before{
  @include json-encode($meetup);
}
.spotify-theme:before{
  @include json-encode($spotify);
}
.twitter-theme:before{
  @include json-encode($twitter);
}
