@charset 'utf-8'

$primary-color: #2FC9E8

@import "prism"
@import "selectric"

.demos
  margin: 0
  min-width: 800px
  width: 100%
  position: relative
  font-family: "canada-type-gibson"
.row
  width: 100%
  clear: both
.col-6
  width: 50%
  float: left
.col-4
  width: 33%
  float: left
.demo-header
  background-color: $primary-color
  border-bottom: solid 2px #444
  height: 200px
  padding: 20px 0
h1
  text-align: center
  font-size: 80px
  font-weight: 300
  color: white
  text-transform: uppercase
  width: 560px
  background-color: rgba(white,.2)
  margin: 60px auto 0
  border-radius: 90px
  border: solid 2px white
  svg
    height: 60px
    width: 60px
    margin-right: 8px
    use
      fill: white
h2
  text-align: center
  margin: 40px 0 20px
  font-size: 18px
  font-weight: 300
  color: #888
  text-transform: uppercase
  letter-spacing: 1px
.github-source
  position: absolute
  top: -5px
  right: -5px
  svg
    height: 120px
    width: 120px
    use
      fill: white
.icons
  text-align: center
  padding: 18px
  svg
    width: 40px
    height: 40px
    margin: 0 10px  10px 0
    use
      fill: #444

.settings
  form
    display: block
    width: 90%
    margin: 0 auto
    h3
      font-size: 13px
      font-weight: 600
      font-style: italic
      margin: 20px 10px 10px
      text-align: left
      border-bottom: solid 1px #ccc
      color: #ccc
      text-transform: uppercase
      letter-spacing: 1px
    &:after
      content: ''
      clear: both
      display: block
  .icon-select-option,
  .icon-select-label
    width: 20px
    height: 20px
    display: inline-block

  p
    margin: 0 0 4px
    padding: 0
  label
    display: inline-block
    line-height: 34px
    width: 160px
    padding-right: 4px
    text-align: right
    letter-spacing: 1px
    font-size: 12px
    text-transform: uppercase
  input[type='text'], input[type="number"]
    width: 56px
    border: solid 1px #aaa
    padding: 8px 12px
    box-shadow: inset 0 0 0 1px white
    &:focus
      border-color: #000
      outline: 0
  .radio-control
    display: inline-block
    label
      width: inherit

.snippet
  width: 92%
  height: 400px
  font-size: 11px
.awesome-searchbox_custom *
  transition: all 0.5s ease
.demo
  padding: 14px
  margin-bottom: 80px
  > div
    margin: 0 auto
.demo-default
  background-color: #F1F1F1
.demo-twitter
  border-top: solid 1px #D6DEE3
  background-color: white
.demo-amazon
  background-color: #202F40
.demo-spotify
  background-color: #272727
.demo-meetup
  background-color: #505050
.demo-medium
  border-top: solid 1px #D9D9D9
  background-color: white
.demo-facebook
  background-color: #3E5DA0

@import "awesome-searchbox"

@import "theme-twitter"
+awesome-searchbox($config-name)

@import "theme-amazon"
+awesome-searchbox($config-name)

@import "theme-spotify"
+awesome-searchbox($config-name)

@import "theme-meetup"
+awesome-searchbox($config-name)

@import "theme-medium"
+awesome-searchbox($config-name)

@import "theme-facebook"
+awesome-searchbox($config-name)
