@mixin searchbox(
    $search-namespace: 'sbx-default',
    $search-input-height: 40px,
    $search-input-width: 500px,
    $search-input-border-color: rgb(204, 204, 204),
    $search-input-background: rgb(255, 255, 255),
    $search-input-focus-background: rgb(255, 255, 255),
    $search-input-focus-border-color: rgb(62, 130, 247),
    $search-font-size: 14px,
    $search-placeholder-color: rgb(170, 170, 170),
    $search-border-width: 1px,
    $search-border-radius: 3px,
    $search-icon: 'sbx-icon-search-1',
    $search-icon-position: right,
    $search-icon-size: 18px,
    $search-icon-color: rgb(255, 255, 255),
    $search-icon-background: rgb(62, 130, 247),
    $search-icon-background-opacity: 1,
    $search-icon-clear: 'sbx-icon-clear-1',
    $search-clear-size: 12px
  ) {
  .#{$search-namespace} {
    display: inline-block;
    position: relative;
    width: $search-input-width;
    height: $search-input-height;
    white-space: nowrap;

    * {
      transition: all .5s ease;
    }

    &__input {
      display: inline-block;
      margin: 0;
      border: 0;
      border-radius: $search-border-radius;
      box-shadow: inset 0 0 0 $search-border-width $search-input-border-color;
      background: $search-input-background;
      padding: 0;
      padding-left: if($search-icon-position == 'right', ($search-input-height - $search-font-size) / 2 + $search-border-radius / 4, $search-input-height);
      width: 100%;
      height: 100%;
      vertical-align: middle;
      white-space: normal;
      font-size: $search-font-size;
      box-sizing: border-box;
      appearance: none;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }

      &:hover {
        box-shadow: inset 0 0 0 $search-border-width darken($search-input-border-color, 10%);
      }

      &:focus,
      &:active {
        outline: 0;
        box-shadow: inset 0 0 0 $search-border-width $search-input-focus-border-color;
        background: $search-input-focus-background;
      }

      &::placeholder {
        color: $search-placeholder-color;
      }

      &:valid ~ .#{$search-namespace}__reset {
        display: block;
      }

    }

    &__submit {
      position: absolute;
      top: 0;
      #{$search-icon-position}: 0;
      border: 0;
      border-radius: if($search-icon-position == 'right', 0 $search-border-radius $search-border-radius 0, $search-border-radius 0 0 $search-border-radius);
      background-color: rgba($search-icon-background, $search-icon-background-opacity);
      width: $search-input-height;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      user-select: none;

      // Helper for vertical alignement of the icon
      &::before {
        display: inline-block;
        margin-right: -4px;
        height: 100%;
        vertical-align: middle;
        content: '';
      }

      &:hover,
      &:active {
        cursor: pointer;
      }

      &:focus {
        outline: 0;
      }

      svg {
        width: $search-icon-size;
        height: $search-icon-size;
        vertical-align: middle;
        fill: $search-icon-color;
      }
    }

    &__reset {
      display: none;
      position: absolute;
      top: ($search-input-height - $search-clear-size) / 2;
      right: 8px + if($search-icon-position == 'right', $search-input-height, $search-border-radius / 4);
      opacity: .6;
      border: 0;
      background: none;
      cursor: pointer;
      padding: 0;
      height: $search-clear-size;
      user-select: none;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: 0;
      }

      &.hide {
        display: none;
      }

      svg {
        width: $search-clear-size;
        height: $search-clear-size;
      }
    }
  }
}
