$airbnb: (
  input-height: 32px,
  input-width: 200px,
  border-radius: 0px,
  border-width: 0px,
  icon-background-opacity: 1,
  icon-background: #FFFFFF,
  font-size: 14px,
  icon-size: 26px,
  icon-position: left,
  input-focus-border-color: #D6DEE3,
  placeholder-color: #9AAEB5,
  icon-color: #CDD0CC,
  clear-size: 10px,
  icon: 'sbx-icon-search-23',
  icon-clear: 'sbx-icon-clear-3'
);
