$amazon: (
  namespace: 'sbx-amazon',
  input-width: 600px,
  input-height: 38px,
  border-radius: 3px,
  icon-background: #FFBF58,
  icon-background-opacity: 1,
  font-size: 14px,
  icon-size: 20px,
  icon-position: right,
  input-border-color: #FFFFFF,
  input-focus-border-color: #FFBF58,
  icon-color: #202F40,
  icon: 'sbx-icon-search-11',
  icon-clear: 'sbx-icon-clear-2'
);
