$amazon: (
  search-namespace: 'sbx-amazon',
  search-input-height: 38px,
  search-border-radius: 3px,
  search-icon-background: #FFBF58,
  search-icon-background-opacity: 1,
  search-font-size: 14px,
  search-icon-size: 20px,
  search-icon-position: right,
  search-input-border-color: #FFFFFF,
  search-input-focus-border-color: #FFBF58,
  search-icon-color: #202F40,
  search-icon: 'search-icon-11',
  search-clear-icon: 'clear-icon-2'
);
