$facebook: (
  namespace: 'sbx-facebook',
  input-height: 26px,
  input-width: 500px,
  clear-size: 12px,
  border-width: 0,
  border-radius: 3px,
  icon-background: #F6F7F8,
  icon-background-opacity: 1,
  font-size: 13px,
  input-background: #FFFFFF,
  input-focus-background: #FFFFFF,
  icon-position: right,
  placeholder-color: #AAAAAA,
  icon-color: #3C5BA2,
  icon: 'sbx-icon-search-8',
  icon-size: 14px,
  icon-clear: 'sbx-icon-clear-4'
);
