$google: (
  search-namespace: 'sbx-google',
  search-input-height: 40px,
  search-input-width: 500px,
  search-input-border-color: #CCCCCC,
  search-input-background: #FFFFFF,
  search-input-focus-background: #FFFFFF,
  search-input-focus-border-color: #3E82F7,
  search-font-size: 14px,
  search-placeholder-color: #AAAAAA,
  search-border-width: 1px,
  search-border-radius: 3px,
  search-icon-position: right,
  search-icon-color: #FFFFFF,
  search-icon-background: #3E82F7,
  search-icon-background-opacity: 1,
  search-clear-size: 12px,
  search-icon: 'sbx-search-icon-13',
  search-icon-size: 20px,
  search-icon-clear: 'sbx-icon-clear-3'
);
