$google: (
  namespace: 'sbx-google',
  input-height: 40px,
  input-width: 500px,
  input-border-color: #CCCCCC,
  input-background: #FFFFFF,
  input-focus-background: #FFFFFF,
  input-focus-border-color: #3E82F7,
  font-size: 14px,
  placeholder-color: #AAAAAA,
  border-width: 1px,
  border-radius: 3px,
  icon-position: right,
  icon-color: #FFFFFF,
  icon-background: #3E82F7,
  icon-background-opacity: 1,
  clear-size: 12px,
  icon: 'sbx-icon-search-13',
  icon-size: 20px,
  icon-clear: 'sbx-icon-clear-3'
);
