$medium: (
  namespace: 'sbx-medium',
  input-height: 36px,
  border-radius: 30px,
  input-width: 200px,
  icon-background: #FFFFFF,
  icon-background-opacity: 0,
  font-size: 13px,
  icon-size: 16px,
  icon-position: left,
  input-border-color: #D9D9D9,
  input-focus-border-color: #AAAAAA,
  icon-color: #202F40,
  icon: 'sbx-icon-search-11',
  icon-clear: 'sbx-icon-clear-1'
);
