$meetup: (
  input-height: 44px,
  input-width: 300px,
  border-radius: 3px,
  icon-background: #FFFFFF,
  icon-background-opacity: 0,
  font-size: 16px,
  input-background: #F5F8FA,
  icon-size: 24px,
  icon-position: right,
  input-border-color: #444444,
  input-focus-border-color: #000000,
  icon-color: #505050,
  placeholder-color: #BBBBBB,
  icon: 'sbx-icon-search-13',
  icon-clear: 'sbx-icon-clear-3'
);
