$meetup: (
  search-namespace: 'sbx-meetup',
  search-input-height: 44px,
  search-input-width: 300px,
  search-border-radius: 3px,
  search-icon-background: #FFFFFF,
  search-icon-background-opacity: 0,
  search-font-size: 16px,
  search-input-background: #F5F8FA,
  search-icon-size: 24px,
  search-icon-position: right,
  search-input-border-color: #444444,
  search-input-focus-border-color: #000000,
  search-icon-color: #505050,
  search-placeholder-color: #BBBBBB,
  search-icon: 'search-icon-13',
  search-clear-icon: 'clear-icon-3'
);
