$spotify: (
  input-height: 24px,
  input-width: 200px,
  border-width: 0px,
  border-radius: 12px,
  icon-background: #FFFFFF,
  icon-background-opacity: 0,
  font-size: 12px,
  icon-size: 16px,
  icon-position: left,
  input-border-color: #FFFFFF,
  input-focus-border-color: #FFFFFF,
  icon-color: #222,
  icon: 'sbx-icon-search-7',
  icon-clear: 'sbx-icon-clear-4'
);
