$twitter: (
  namespace: 'sbx-twitter',
  input-height: 30px,
  input-width: 200px,
  border-radius: 15px,
  icon-background-opacity: 0,
  font-size: 12px,
  input-background: #F5F8FA,
  icon-size: 12px,
  icon-position: right,
  input-border-color: #D6DEE3,
  input-focus-border-color: #D6DEE3,
  icon-color: #73777A,
  clear-size: 10px,
  icon: 'sbx-icon-search-8',
  icon-clear: 'sbx-icon-clear-3'
);
