$twitter: (
  search-namespace: 'sbx-twitter',
  search-input-height: 30px,
  search-input-width: 200px,
  search-border-radius: 15px,
  search-icon-background-opacity: 0,
  search-font-size: 12px,
  search-input-background: #F5F8FA,
  search-icon-size: 12px,
  search-icon-position: right,
  search-input-border-color: #D6DEE3,
  search-input-focus-border-color: #D6DEE3,
  search-icon-color: #73777A,
  search-clear-size: 10px,
  search-icon: 'sbx-search-icon-8',
  search-icon-clear: 'sbx-icon-clear-3'
);
