/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+sass+scss&plugins=previewer-base+previewer-color */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.prism-previewer,
.prism-previewer:before,
.prism-previewer:after {
  position: absolute;
  pointer-events: none; }

.prism-previewer,
.prism-previewer:after {
  left: 50%; }

.prism-previewer {
  margin-top: -48px;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity .25s;
  -moz-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s; }

.prism-previewer.flipped {
  margin-top: 0;
  margin-bottom: -48px; }

.prism-previewer:before,
.prism-previewer:after {
  content: '';
  position: absolute;
  pointer-events: none; }

.prism-previewer:before {
  top: -5px;
  right: -5px;
  left: -5px;
  bottom: -5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75); }

.prism-previewer:after {
  top: 100%;
  width: 0;
  height: 0;
  margin: 5px 0 0 -7px;
  border: 7px solid transparent;
  border-color: rgba(255, 0, 0, 0);
  border-top-color: #fff; }

.prism-previewer.flipped:after {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  border-top-color: rgba(255, 0, 0, 0);
  border-bottom-color: #fff; }

.prism-previewer.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
  filter: alpha(opacity=1);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1; }

.prism-previewer-color {
  background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px; }

.prism-previewer-color:before {
  background-color: inherit;
  background-clip: padding-box; }

/*======================================
  Selectric v1.9.3 //modified
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
  display: inline-block;
  top: 10px; }

.selectric-responsive {
  width: 100%; }

.selectric {
  border: 1px solid #aaa;
  position: relative;
  display: inline-block; }

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 10px;
  font-size: 12px;
  line-height: 28px;
  color: #444; }

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 33px;
  height: 28px;
  color: #BBB;
  text-align: center;
  font: 0/0 a; }

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none; }

.selectric-hover .selectric {
  border-color: #C4C4C4; }

.selectric-hover .selectric .button {
  color: #A2A2A2; }

.selectric-hover .selectric .button:after {
  border-top-color: #A2A2A2; }

.selectric-open {
  z-index: 9999; }

.selectric-open .selectric {
  border-color: #C4C4C4; }

.selectric-open .selectric-items {
  display: block; }

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0; }

.selectric-hide-select select {
  position: absolute;
  left: -100%;
  display: none; }

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important; }

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important; }

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F8;
  border: 1px solid #C4C4C4;
  z-index: -1;
  box-shadow: 0 0 10px -6px; }

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto; }

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%; }

.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px; }

.selectric-items li {
  display: block;
  padding: 8px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #EEE;
  color: #666;
  cursor: pointer; }

.selectric-items li.selected {
  background: #EFEFEF;
  color: #444; }

.selectric-items li:hover {
  background: #F0F0F0;
  color: #444; }

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444; }

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1; }

.selectric-items .selectric-group li {
  padding-left: 25px; }

/*! sassyjson - v1.1.8 - 2015-09-24 */
body {
  position: relative;
  font-family: "canada-type-gibson";
  margin: 0;
  width: 100%; }

.row {
  font-size: 0; }

.col-3 {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 1em; }
  @media only screen and (min-width: 768px) {
    .col-3 {
      width: 33.33333%;
      vertical-align: top; } }

.col-9 {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 0; }
  @media only screen and (min-width: 768px) {
    .col-9 {
      width: 66.66667%;
      vertical-align: top; } }

.demo-header {
  background-color: #2FC9E8;
  padding: 10px 0;
  border-bottom: solid 2px #444;
  height: 150px; }

h1 {
  font-size: 80px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  margin: 24px auto 0;
  border: solid 2px white;
  border-radius: 90px;
  text-align: center;
  width: 560px;
  text-transform: uppercase; }
  h1 svg {
    margin-right: 8px;
    width: 60px;
    height: 60px; }
    h1 svg use {
      fill: white; }

h2 {
  font-size: 18px;
  font-weight: 300;
  color: #888;
  margin: 40px 0 20px;
  letter-spacing: 1px;
  text-transform: uppercase; }

h3 {
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  color: #ccc;
  margin: 20px 10px 10px;
  border-bottom: solid 1px #ccc;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase; }

.github-source {
  position: absolute;
  top: 0;
  right: 0; }
  .github-source svg {
    width: 120px;
    height: 120px; }
    .github-source svg use {
      fill: white; }

.icons {
  padding: 18px;
  text-align: center; }
  .icons svg {
    margin: 0 10px  10px 0;
    width: 40px;
    height: 40px; }
    .icons svg use {
      fill: #444; }

.btn {
  background-color: #eee;
  color: #000;
  padding: 8px 12px;
  margin-right: 10px;
  border: solid 1px #ccc;
  border-radius: 3px;
  text-decoration: none; }

.settings {
  margin-top: 20px; }
  .settings .icon-select-option,
  .settings .icon-select-label {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
    margin-right: 8px; }
  .settings p {
    padding: 0;
    margin: 0 0 4px 0; }
    .settings p.warning {
      background-color: #FFDD78;
      padding: 8px;
      display: block; }
  .settings label {
    display: inline-block;
    font-size: 12px;
    padding-right: 4px;
    letter-spacing: 1px;
    line-height: 34px;
    text-align: right;
    width: 160px;
    text-transform: uppercase; }
  .settings input[type='text'], .settings input[type="number"] {
    box-shadow: inset 0 0 0 1px white;
    padding: 0 12px;
    line-height: 28px;
    border: solid 1px #aaa;
    width: 56px;
    font-size: 12px; }
    .settings input[type='text']:focus, .settings input[type="number"]:focus {
      border-color: #000;
      outline: 0; }
  .settings .radio-control {
    display: inline-block; }
    .settings .radio-control label {
      width: inherit; }

.snippet {
  font-size: 11px;
  height: 300px;
  width: 94%; }

#demo {
  box-sizing: border-box;
  padding: 14px;
  margin: 0 0 80px 0;
  width: 100%;
  text-align: center; }
  #demo * {
    transition: all 0.5s ease; }
  #demo.asb-google_demo {
    background-color: #F1F1F1; }
  #demo.asb-twitter_demo {
    background-color: white;
    border-top: solid 1px #D6DEE3; }
  #demo.asb-amazon_demo {
    background-color: #202F40; }
  #demo.asb-spotify_demo {
    background-color: #272727; }
  #demo.asb-meetup_demo {
    background-color: #505050; }
  #demo.asb-medium_demo {
    background-color: white;
    border-top: solid 1px #D9D9D9; }
  #demo.asb-facebook_demo {
    background-color: #3E5DA0; }

.hide {
  display: none; }

.asb-default {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 40px;
  white-space: nowrap; }
  .asb-default__input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 13.75px;
    vertical-align: middle;
    white-space: normal;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #cccccc;
    background: white;
    appearance: none; }
    .asb-default__input::-webkit-search-decoration, .asb-default__input::-webkit-search-cancel-button, .asb-default__input::-webkit-search-results-button, .asb-default__input::-webkit-search-results-decoration {
      display: none; }
    .asb-default__input:hover {
      box-shadow: inset 0 0 0 1px #b3b3b3; }
    .asb-default__input:focus, .asb-default__input:active {
      outline: 0;
      background: white;
      box-shadow: inset 0 0 0 1px #3e82f7; }
    .asb-default__input::placeholder {
      color: #aaaaaa; }
  .asb-default__submit {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
    text-align: center;
    background-color: #3e82f7;
    right: 0; }
    .asb-default__submit:before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .asb-default__submit:hover, .asb-default__submit:active {
      cursor: pointer; }
    .asb-default__submit svg {
      height: 20px;
      width: 20px;
      vertical-align: middle; }
      .asb-default__submit svg use {
        fill: white; }
  .asb-default__reset {
    position: absolute;
    top: 14px;
    right: 48px;
    opacity: 0.6;
    line-height: 0;
    height: 12px;
    cursor: pointer; }
    .asb-default__reset:hover {
      opacity: 1; }
    .asb-default__reset.hide {
      display: none; }
    .asb-default__reset svg {
      height: 12px;
      width: 12px; }

.asb-amazon {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 38px;
  white-space: nowrap; }
  .asb-amazon__input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 12.75px;
    vertical-align: middle;
    white-space: normal;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px white;
    background: white;
    appearance: none; }
    .asb-amazon__input::-webkit-search-decoration, .asb-amazon__input::-webkit-search-cancel-button, .asb-amazon__input::-webkit-search-results-button, .asb-amazon__input::-webkit-search-results-decoration {
      display: none; }
    .asb-amazon__input:hover {
      box-shadow: inset 0 0 0 1px #e6e6e6; }
    .asb-amazon__input:focus, .asb-amazon__input:active {
      outline: 0;
      background: white;
      box-shadow: inset 0 0 0 1px #FFBF58; }
    .asb-amazon__input::placeholder {
      color: #aaaaaa; }
  .asb-amazon__submit {
    position: absolute;
    top: 0;
    height: 100%;
    width: 38px;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
    text-align: center;
    background-color: #ffbf58;
    right: 0; }
    .asb-amazon__submit:before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .asb-amazon__submit:hover, .asb-amazon__submit:active {
      cursor: pointer; }
    .asb-amazon__submit svg {
      height: 20px;
      width: 20px;
      vertical-align: middle; }
      .asb-amazon__submit svg use {
        fill: #202F40; }
  .asb-amazon__reset {
    position: absolute;
    top: 13px;
    right: 46px;
    opacity: 0.6;
    line-height: 0;
    height: 12px;
    cursor: pointer; }
    .asb-amazon__reset:hover {
      opacity: 1; }
    .asb-amazon__reset.hide {
      display: none; }
    .asb-amazon__reset svg {
      height: 12px;
      width: 12px; }

.asb-google {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 40px;
  white-space: nowrap; }
  .asb-google__input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 13.75px;
    vertical-align: middle;
    white-space: normal;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #ccc;
    background: white;
    appearance: none; }
    .asb-google__input::-webkit-search-decoration, .asb-google__input::-webkit-search-cancel-button, .asb-google__input::-webkit-search-results-button, .asb-google__input::-webkit-search-results-decoration {
      display: none; }
    .asb-google__input:hover {
      box-shadow: inset 0 0 0 1px #b3b3b3; }
    .asb-google__input:focus, .asb-google__input:active {
      outline: 0;
      background: white;
      box-shadow: inset 0 0 0 1px #3E82F7; }
    .asb-google__input::placeholder {
      color: #aaa; }
  .asb-google__submit {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
    text-align: center;
    background-color: #3e82f7;
    right: 0; }
    .asb-google__submit:before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .asb-google__submit:hover, .asb-google__submit:active {
      cursor: pointer; }
    .asb-google__submit svg {
      height: 20px;
      width: 20px;
      vertical-align: middle; }
      .asb-google__submit svg use {
        fill: white; }
  .asb-google__reset {
    position: absolute;
    top: 14px;
    right: 48px;
    opacity: 0.6;
    line-height: 0;
    height: 12px;
    cursor: pointer; }
    .asb-google__reset:hover {
      opacity: 1; }
    .asb-google__reset.hide {
      display: none; }
    .asb-google__reset svg {
      height: 12px;
      width: 12px; }

.asb-facebook {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 25px;
  white-space: nowrap; }
  .asb-facebook__input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 6.75px;
    vertical-align: middle;
    white-space: normal;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0 #cccccc;
    background: white;
    appearance: none; }
    .asb-facebook__input::-webkit-search-decoration, .asb-facebook__input::-webkit-search-cancel-button, .asb-facebook__input::-webkit-search-results-button, .asb-facebook__input::-webkit-search-results-decoration {
      display: none; }
    .asb-facebook__input:hover {
      box-shadow: inset 0 0 0 0 #b3b3b3; }
    .asb-facebook__input:focus, .asb-facebook__input:active {
      outline: 0;
      background: white;
      box-shadow: inset 0 0 0 0 #3e82f7; }
    .asb-facebook__input::placeholder {
      color: #aaa; }
  .asb-facebook__submit {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25px;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
    text-align: center;
    background-color: #f6f7f8;
    right: 0; }
    .asb-facebook__submit:before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .asb-facebook__submit:hover, .asb-facebook__submit:active {
      cursor: pointer; }
    .asb-facebook__submit svg {
      height: 12.5px;
      width: 12.5px;
      vertical-align: middle; }
      .asb-facebook__submit svg use {
        fill: #3C5BA2; }
  .asb-facebook__reset {
    position: absolute;
    top: 6.5px;
    right: 33px;
    opacity: 0.6;
    line-height: 0;
    height: 12px;
    cursor: pointer; }
    .asb-facebook__reset:hover {
      opacity: 1; }
    .asb-facebook__reset.hide {
      display: none; }
    .asb-facebook__reset svg {
      height: 12px;
      width: 12px; }

.asb-medium {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 36px;
  white-space: nowrap; }
  .asb-medium__input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 36px;
    vertical-align: middle;
    white-space: normal;
    font-size: 13px;
    border: none;
    border-radius: 30px;
    box-shadow: inset 0 0 0 1px #D9D9D9;
    background: white;
    appearance: none; }
    .asb-medium__input::-webkit-search-decoration, .asb-medium__input::-webkit-search-cancel-button, .asb-medium__input::-webkit-search-results-button, .asb-medium__input::-webkit-search-results-decoration {
      display: none; }
    .asb-medium__input:hover {
      box-shadow: inset 0 0 0 1px silver; }
    .asb-medium__input:focus, .asb-medium__input:active {
      outline: 0;
      background: white;
      box-shadow: inset 0 0 0 1px silver; }
    .asb-medium__input::placeholder {
      color: #aaaaaa; }
  .asb-medium__submit {
    position: absolute;
    top: 0;
    height: 100%;
    width: 36px;
    vertical-align: middle;
    border-radius: 30px 0 0 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    left: 0; }
    .asb-medium__submit:before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .asb-medium__submit:hover, .asb-medium__submit:active {
      cursor: pointer; }
    .asb-medium__submit svg {
      height: 16px;
      width: 16px;
      vertical-align: middle; }
      .asb-medium__submit svg use {
        fill: #202F40; }
  .asb-medium__reset {
    position: absolute;
    top: 12px;
    right: 15.5px;
    opacity: 0.6;
    line-height: 0;
    height: 12px;
    cursor: pointer; }
    .asb-medium__reset:hover {
      opacity: 1; }
    .asb-medium__reset.hide {
      display: none; }
    .asb-medium__reset svg {
      height: 12px;
      width: 12px; }

.asb-meetup {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 44px;
  white-space: nowrap; }
  .asb-meetup__input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 14.75px;
    vertical-align: middle;
    white-space: normal;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #444;
    background: #F5F8FA;
    appearance: none; }
    .asb-meetup__input::-webkit-search-decoration, .asb-meetup__input::-webkit-search-cancel-button, .asb-meetup__input::-webkit-search-results-button, .asb-meetup__input::-webkit-search-results-decoration {
      display: none; }
    .asb-meetup__input:hover {
      box-shadow: inset 0 0 0 1px #2b2b2b; }
    .asb-meetup__input:focus, .asb-meetup__input:active {
      outline: 0;
      background: white;
      box-shadow: inset 0 0 0 1px black; }
    .asb-meetup__input::placeholder {
      color: #bbb; }
  .asb-meetup__submit {
    position: absolute;
    top: 0;
    height: 100%;
    width: 44px;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    right: 0; }
    .asb-meetup__submit:before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .asb-meetup__submit:hover, .asb-meetup__submit:active {
      cursor: pointer; }
    .asb-meetup__submit svg {
      height: 24px;
      width: 24px;
      vertical-align: middle; }
      .asb-meetup__submit svg use {
        fill: #505050; }
  .asb-meetup__reset {
    position: absolute;
    top: 16px;
    right: 52px;
    opacity: 0.6;
    line-height: 0;
    height: 12px;
    cursor: pointer; }
    .asb-meetup__reset:hover {
      opacity: 1; }
    .asb-meetup__reset.hide {
      display: none; }
    .asb-meetup__reset svg {
      height: 12px;
      width: 12px; }

.asb-spotify {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 24px;
  white-space: nowrap; }
  .asb-spotify__input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 24px;
    vertical-align: middle;
    white-space: normal;
    font-size: 12px;
    border: none;
    border-radius: 12px;
    box-shadow: inset 0 0 0 1px white;
    background: white;
    appearance: none; }
    .asb-spotify__input::-webkit-search-decoration, .asb-spotify__input::-webkit-search-cancel-button, .asb-spotify__input::-webkit-search-results-button, .asb-spotify__input::-webkit-search-results-decoration {
      display: none; }
    .asb-spotify__input:hover {
      box-shadow: inset 0 0 0 1px #e6e6e6; }
    .asb-spotify__input:focus, .asb-spotify__input:active {
      outline: 0;
      background: white;
      box-shadow: inset 0 0 0 1px white; }
    .asb-spotify__input::placeholder {
      color: #aaaaaa; }
  .asb-spotify__submit {
    position: absolute;
    top: 0;
    height: 100%;
    width: 24px;
    vertical-align: middle;
    border-radius: 12px 0 0 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    left: 0; }
    .asb-spotify__submit:before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .asb-spotify__submit:hover, .asb-spotify__submit:active {
      cursor: pointer; }
    .asb-spotify__submit svg {
      height: 12px;
      width: 12px;
      vertical-align: middle; }
      .asb-spotify__submit svg use {
        fill: #222; }
  .asb-spotify__reset {
    position: absolute;
    top: 6px;
    right: 11px;
    opacity: 0.6;
    line-height: 0;
    height: 12px;
    cursor: pointer; }
    .asb-spotify__reset:hover {
      opacity: 1; }
    .asb-spotify__reset.hide {
      display: none; }
    .asb-spotify__reset svg {
      height: 12px;
      width: 12px; }

.asb-twitter {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 30px;
  white-space: nowrap; }
  .asb-twitter__input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 12.75px;
    vertical-align: middle;
    white-space: normal;
    font-size: 12px;
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px #D6DEE3;
    background: #F5F8FA;
    appearance: none; }
    .asb-twitter__input::-webkit-search-decoration, .asb-twitter__input::-webkit-search-cancel-button, .asb-twitter__input::-webkit-search-results-button, .asb-twitter__input::-webkit-search-results-decoration {
      display: none; }
    .asb-twitter__input:hover {
      box-shadow: inset 0 0 0 1px #b8c6ce; }
    .asb-twitter__input:focus, .asb-twitter__input:active {
      outline: 0;
      background: white;
      box-shadow: inset 0 0 0 1px #D6DEE3; }
    .asb-twitter__input::placeholder {
      color: #aaaaaa; }
  .asb-twitter__submit {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    vertical-align: middle;
    border-radius: 0 15px 15px 0;
    text-align: center;
    background-color: rgba(62, 130, 247, 0);
    right: 0; }
    .asb-twitter__submit:before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle; }
    .asb-twitter__submit:hover, .asb-twitter__submit:active {
      cursor: pointer; }
    .asb-twitter__submit svg {
      height: 12px;
      width: 12px;
      vertical-align: middle; }
      .asb-twitter__submit svg use {
        fill: #73777A; }
  .asb-twitter__reset {
    position: absolute;
    top: 10px;
    right: 38px;
    opacity: 0.6;
    line-height: 0;
    height: 10px;
    cursor: pointer; }
    .asb-twitter__reset:hover {
      opacity: 1; }
    .asb-twitter__reset.hide {
      display: none; }
    .asb-twitter__reset svg {
      height: 10px;
      width: 10px; }

.amazon-theme:before {
  content: '{"search-namespace": "asb-amazon", "search-input-height": "38px", "search-border-radius": "3px", "search-icon-background": "#FFBF58", "search-icon-background-opacity": 1, "search-font-size": "14px", "search-icon-size": "20px", "search-icon-position": "right", "search-input-border-color": "white", "search-input-focus-border-color": "#FFBF58", "search-icon-color": "#202F40"}';
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

.facebook-theme:before {
  content: '{"search-namespace": "asb-facebook", "search-input-height": "25px", "search-input-width": "500px", "search-clear-size": "12px", "search-border-width": 0, "search-border-radius": "3px", "search-icon-background": "#F6F7F8", "search-icon-background-opacity": 1, "search-font-size": "13px", "search-input-background": "white", "search-input-focus-background": "white", "search-icon-position": "right", "search-placeholder-color": "#aaa", "search-icon-color": "#3C5BA2"}';
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

.google-theme:before {
  content: '{"search-namespace": "asb-google", "search-input-height": "40px", "search-input-width": "500px", "search-input-border-color": "#ccc", "search-input-background": "white", "search-input-focus-background": "white", "search-input-focus-border-color": "#3E82F7", "search-font-size": "14px", "search-placeholder-color": "#aaa", "search-border-width": "1px", "search-border-radius": "3px", "search-icon-position": "right", "search-icon-color": "white", "search-icon-background": "#3E82F7", "search-icon-background-opacity": 1, "search-clear-size": "12px"}';
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

.medium-theme:before {
  content: '{"search-namespace": "asb-medium", "search-input-height": "36px", "search-border-radius": "30px", "search-input-width": "200px", "search-icon-background": "white", "search-icon-background-opacity": 0, "search-font-size": "13px", "search-icon-size": "16px", "search-icon-position": "left", "search-input-border-color": "#D9D9D9", "search-input-focus-border-color": "silver", "search-icon-color": "#202F40"}';
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

.meetup-theme:before {
  content: '{"search-namespace": "asb-meetup", "search-input-height": "44px", "search-input-width": "300px", "search-border-radius": "3px", "search-icon-background": "white", "search-icon-background-opacity": 0, "search-font-size": "16px", "search-input-background": "#F5F8FA", "search-icon-size": "24px", "search-icon-position": "right", "search-input-border-color": "#444", "search-input-focus-border-color": "black", "search-icon-color": "#505050", "search-placeholder-color": "#bbb"}';
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

.spotify-theme:before {
  content: '{"search-namespace": "asb-spotify", "search-input-height": "24px", "search-input-width": "200px", "search-border-radius": "12px", "search-icon-background": "#FFFFFF", "search-icon-background-opacity": 0, "search-font-size": "12px", "search-icon-size": "12px", "search-icon-position": "left", "search-input-border-color": "white", "search-input-focus-border-color": "white", "search-icon-color": "#222"}';
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

.twitter-theme:before {
  content: '{"search-namespace": "asb-twitter", "search-input-height": "30px", "search-input-width": "200px", "search-border-radius": "15px", "search-icon-background-opacity": 0, "search-font-size": "12px", "search-input-background": "#F5F8FA", "search-icon-size": "12px", "search-icon-position": "right", "search-input-border-color": "#D6DEE3", "search-input-focus-border-color": "#D6DEE3", "search-icon-color": "#73777A", "search-clear-size": "10px"}';
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }
