//default settings
$config-name: 'awesome-searchbox' !default;

$search-input-height: 40px !default;
$search-input-width: 500px !default;
$search-input-border-color: #ccc !default;
$search-input-background: white !default;

$search-input-focus-background: white !default;
$search-input-focus-border-color: #3E82F7 !default;

$search-font-size: 14px !default;
$search-placeholder-color: #aaa !default;

$search-border-width: 1px !default;
$search-border-radius: 3px !default;

$search-icon-position: right !default;
$search-icon-size: $search-input-height - ($search-input-height / 2) !default;
$search-icon-color: white !default;
$search-icon-background: #3E82F7 !default;
$search-icon-background-opacity: 1 !default;

$search-clear-size: 12px !default;


@mixin awesome-searchbox($config) {
  .#{$config} {
    position: relative;
    width: $search-input-width;
    height: $search-input-height;
    white-space: nowrap;
    input[type="search"] {
      display: inline-block;
      box-sizing: padding-box;
      -webkit-box-sizing: padding-box;
      -moz-box-sizing: padding-box;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      padding-left: if($search-icon-position == "right", ($search-input-height - $search-font-size) / 2 + $search-border-radius / 4, $search-input-height);
      vertical-align: middle;
      white-space: normal;
      font-size: $search-font-size;
      line-height: $search-input-height;
      border: none;
      border-radius: $search-border-radius;
      box-shadow: inset 0 0 0 $search-border-width $search-input-border-color;
      background: $search-input-background;
      -webkit-appearance: none;
      -moz-appearance: none;
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }
      &:hover {
        box-shadow: inset 0 0 0 $search-border-width darken($search-input-border-color,10%);
      }
      &:focus {
        outline: 0; // Remove the stupid outer glow in Webkit
        background: $search-input-focus-background;
        box-shadow: inset 0 0 0 $search-border-width $search-input-focus-border-color;
      }
      &::-webkit-input-placeholder {
        color: $search-placeholder-color;
      }
      &::-moz-placeholder {
        color: $search-placeholder-color;
      }
      &:-ms-input-placeholder {
        color: $search-placeholder-color;
      }
      &:-moz-placeholder {
        color: $search-placeholder-color;
      }
    }
    .ui-icon-submit {
      position: absolute;
      top: 0;
      height: 100%;
      width: $search-input-height;
      vertical-align: middle;
      border-radius: if($search-icon-position == "right", 0 $search-border-radius $search-border-radius 0, $search-border-radius 0 0 $search-border-radius);
      text-align: center;
      background-color: rgba($search-icon-background,$search-icon-background-opacity);
      #{$search-icon-position}: 0;
      // Helper for vertical alignement of the icon
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
      }
      &:hover {
        cursor: pointer;
      }
      svg, img {
        height: $search-icon-size;
        width: $search-icon-size;
        vertical-align: middle;
        use {
          fill: $search-icon-color;
        }
      }
    }
    .ui-icon-clear {
      position: absolute;
      top: ($search-input-height - $search-clear-size) / 2;
      right: 8px  + if($search-icon-position == "right", $search-input-height, $search-border-radius/4);
      opacity: 0.6;
      line-height: 0;
      height: $search-clear-size;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &.hide {
        display: none;
      }
      svg, img {
        height: $search-clear-size;
        width: $search-clear-size;
      }
    }
  }
}

@include awesome-searchbox($config-name);
