<!doctype html>
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "ie=edge", http-equiv: "x-ua-compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title Searchbox: One mixin to syle them all
    %link{href: "app.css", rel: "stylesheet"}
    %script{src: "https://use.typekit.net/rwx3htg.js"}
    :javascript
      try{Typekit.load({ async: false });}catch(e){}

  %body.demos
    %a.github-source{href:"https://github.com/Shipow/searchbox"} Source on Github
    %h1 SearchBox

    %div{style:"height: 0; width: 0; position: absolute; visibility: hidden"}
      <!-- inject:svg --><!-- endinject -->

    .row
      %h2 Snippet
    %pre
      %code.language-css.snippet

    .row
      %h2 Search icons
      .icons
        %svg.icon
          %use{xlink:href:"#search-icon-1"}
        %svg.icon
          %use{xlink:href:"#search-icon-2"}
        %svg.icon
          %use{xlink:href:"#search-icon-3"}
        %svg.icon
          %use{xlink:href:"#search-icon-4"}
        %svg.icon
          %use{xlink:href:"#search-icon-5"}
        %svg.icon
          %use{xlink:href:"#search-icon-6"}
        %svg.icon
          %use{xlink:href:"#search-icon-7"}
        %svg.icon
          %use{xlink:href:"#search-icon-8"}
        %svg.icon
          %use{xlink:href:"#search-icon-9"}
        %svg.icon
          %use{xlink:href:"#search-icon-10"}
        %svg.icon
          %use{xlink:href:"#search-icon-11"}
        %svg.icon
          %use{xlink:href:"#search-icon-12"}
        %svg.icon
          %use{xlink:href:"#search-icon-13"}
        %svg.icon
          %use{xlink:href:"#search-icon-14"}
        %svg.icon
          %use{xlink:href:"#search-icon-15"}
        %svg.icon
          %use{xlink:href:"#search-icon-16"}
        %svg.icon
          %use{xlink:href:"#search-icon-17"}
        %svg.icon
          %use{xlink:href:"#search-icon-18"}
        %svg.icon
          %use{xlink:href:"#search-icon-19"}
        %svg.icon
          %use{xlink:href:"#search-icon-20"}

    .examples
      %h2 Google (default)
      .demo.demo-default
        .default.awesome-searchbox
          %input.q{ type: "search", placeholder:"Search for product, category, SKU, …", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-5"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Twitter
      .demo.demo-twitter
        .twitter.awesome-searchbox
          %input.q{ type: "search", placeholder:"Search Twitter", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Amazon
      .demo.demo-amazon
        .amazon.awesome-searchbox
          %input.q{ type: "search", placeholder:"Search Amazon", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Spotify
      .demo.demo-spotify
        .spotify.awesome-searchbox
          %input.q{ type: "search", placeholder:"Search", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Meetup
      .demo.demo-meetup
        .meetup.awesome-searchbox
          %input.q{ type: "search", placeholder:"Search Meetup", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Medium
      .demo.demo-medium
        .medium.awesome-searchbox
          %input.q{ type: "search", placeholder:"Search Medium", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark-thin"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Facebook
      .demo.demo-facebook
        .facebook.awesome-searchbox
          %input.q{ type: "search", placeholder:"Search Facebook", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

    <!-- inject: js/prim.js -->
    %script{src:"js/jquery-2.2.0.min.js"}
    %script{src:"js/prism.js",data-manual}
    %script{src:"js/sass.js"}
    :javascript
      var scss = "";
    %script{src:"js/app.js"}
