<!doctype html>
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "ie=edge", http-equiv: "x-ua-compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title Searchbox: One mixin to syle them all
    %link{href: "css/app.css", rel: "stylesheet"}

  %body.demos
    <!-- inject:svg --><!-- endinject -->
    .row
      %h1 SearchBox: One mixin to syle them all

      %svg{role:"img", class:"github"}
        %use{xlink:href: "#search-icon"}

      %h2 Google (default)
      .demo.demo-default
        .default
          %input#q{ type: "search", placeholder:"Search for product, category, SKU, …", autocomplete: "off"}>
          .ui-icon-input
            %img{src: "svg/search-icon.svg"}
          #clear-q.hide
            %img{src: "svg/clear-icon.svg"}

      %h2 Twitter
      .demo.demo-twitter
        .twitter
          %input#q{ type: "search", placeholder:"Search Twitter", autocomplete: "off"}>
          .ui-icon-input
            %img{src: "svg/search-icon-dark.svg"}
          #clear-q.hide
            %img{src: "svg/clear-icon.svg"}

      %h2 Amazon
      .demo.demo-amazon
        .amazon
          %input#q{ type: "search", placeholder:"Search Amazon", autocomplete: "off"}>
          .ui-icon-input
            %img{src: "svg/search-icon-dark.svg"}
          #clear-q.hide
            %img{src: "svg/clear-icon.svg"}

      %h2 Spotify
      .demo.demo-spotify
        .spotify
          %input#q{ type: "search", placeholder:"Search", autocomplete: "off"}>
          .ui-icon-input
            %img{src: "svg/search-icon-dark.svg"}
          #clear-q.hide
            %img{src: "svg/clear-icon.svg"}

      %h2 Meetup
      .demo.demo-meetup
        .meetup
          %input#q{ type: "search", placeholder:"Search Meetup", autocomplete: "off"}>
          .ui-icon-input
            %img{src: "svg/search-icon-dark.svg"}
          #clear-q.hide
            %img{src: "svg/clear-icon.svg"}

      %h2 Medium
      .demo.demo-medium
        .medium
          %input#q{ type: "search", placeholder:"Search Medium", autocomplete: "off"}>
          .ui-icon-input
            %img{src: "svg/search-icon-dark-thin.svg"}
          #clear-q.hide
            %img{src: "svg/clear-icon.svg"}

      %h2 Facebook
      .demo.demo-facebook
        .facebook
          %input#q{ type: "search", placeholder:"Search Facebook", autocomplete: "off"}>
          .ui-icon-input
            %img{src: "svg/search-icon-dark.svg"}
          #clear-q.hide
            %img{src: "svg/clear-icon.svg"}



    %script{src: "js/min/app-min.js"}
