<!doctype html>
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "ie=edge", http-equiv: "x-ua-compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title Searchbox: One mixin to syle them all
    %link{href: "app.css", rel: "stylesheet"}
    %script{src: "https://use.typekit.net/rwx3htg.js"}
    :javascript
      try{Typekit.load({ async: false });}catch(e){}
    :css
      // tets

  %body.demos
    .demo-header
      %a.github-source{href:"https://github.com/Shipow/searchbox"} Source on Github
      %h1
        %svg.icon
          %use{xlink:href:"#search-icon-17"}
        SearchBox

    .settings
      %h2 Settings
      %form#settings
        %p
          %label config-name
          %input{type:"text", name:"$config-name", value:"awesome-searchbox_custom"}
        %p
          %label input-width
          %input{type:"text", name:"$search-input-width", value:"250px"}
        %p
          %label input-height
          %input{type:"text", name:"$search-input-height", value:"50px"}
        %p
          %label clear-size
          %input{type:"text", name:"$search-clear-size", value:"12px"}
        %p
          %label border-width
          %input{type:"text", name:"$search-border-width", value:"2px"}
        %p
          %label border-radius
          %input{type:"text", name:"$search-border-radius", value:"25px"}
        %p
          %label icon-color
          %input{type:"text", name:"$search-icon-color", value:"#E5186F"}
        %p
          %label border-color
          %input{type:"text", name:"$search-input-border-color", value:"#ccc"}
        %p
          %label focus-border-color
          %input{type:"text", name:"$search-input-focus-border-color", value:"#E5186F"}
        %p
          %label icon-background-color
          %input{type:"text", name:"$search-icon-background", value:"transparent"}
        %p
          %label font-size
          %input{type:"text", name:"$search-font-size", value:"14px"}
        %p
          %label icon-size
          %input{type:"text", name:"$search-icon-size", value:"26px"}
        %p
          %label background-color
          %input{type:"text", name:"$search-input-background", value:"white"}
        %p
          %label focus-background-color
          %input{type:"text", name:"$search-input-focus-background", value:"white"}
        %p
          %label icon-position
          %input{type:"text", name:"$search-icon-position", value:"right"}
        %p
          %label placeholder-color
          %input{type:"text", name:"$search-placeholder-color", value:"#aaa"}
        %p
          %button.btn-update{type:"button"} Update

    .row
      %h2 Search icons
      .icons
        %svg.icon
          %use{xlink:href:"#search-icon-1"}
        %svg.icon
          %use{xlink:href:"#search-icon-2"}
        %svg.icon
          %use{xlink:href:"#search-icon-3"}
        %svg.icon
          %use{xlink:href:"#search-icon-4"}
        %svg.icon
          %use{xlink:href:"#search-icon-5"}
        %svg.icon
          %use{xlink:href:"#search-icon-6"}
        %svg.icon
          %use{xlink:href:"#search-icon-7"}
        %svg.icon
          %use{xlink:href:"#search-icon-8"}
        %svg.icon
          %use{xlink:href:"#search-icon-9"}
        %svg.icon
          %use{xlink:href:"#search-icon-10"}
        %svg.icon
          %use{xlink:href:"#search-icon-11"}
        %br
        %svg.icon
          %use{xlink:href:"#search-icon-12"}
        %svg.icon
          %use{xlink:href:"#search-icon-13"}
        %svg.icon
          %use{xlink:href:"#search-icon-14"}
        %svg.icon
          %use{xlink:href:"#search-icon-15"}
        %svg.icon
          %use{xlink:href:"#search-icon-16"}
        %svg.icon
          %use{xlink:href:"#search-icon-17"}
        %svg.icon
          %use{xlink:href:"#search-icon-18"}
        %svg.icon
          %use{xlink:href:"#search-icon-19"}
        %svg.icon
          %use{xlink:href:"#search-icon-20"}
        %svg.icon
          %use{xlink:href:"#search-icon-21"}
        %svg.icon
          %use{xlink:href:"#search-icon-22"}

    .examples
      %h2 Create yours
      .demo.demo-custom
        .awesome-searchbox.awesome-searchbox_custom
          %input.q{ type: "search", placeholder:"Search your website", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-10"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}
      %h2 Google (default)
      .demo.demo-default
        .awesome-searchbox
          %input.q{ type: "search", placeholder:"Search for product, category, SKU, …", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-13"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Twitter
      .demo.demo-twitter
        .awesome-searchbox_twitter
          %input.q{ type: "search", placeholder:"Search Twitter", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Amazon
      .demo.demo-amazon
        .awesome-searchbox_amazon
          %input.q{ type: "search", placeholder:"Search Amazon", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Spotify
      .demo.demo-spotify
        .awesome-searchbox_spotify
          %input.q{ type: "search", placeholder:"Search", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Meetup
      .demo.demo-meetup
        .awesome-searchbox_meetup
          %input.q{ type: "search", placeholder:"Search Meetup", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Medium
      .demo.demo-medium
        .awesome-searchbox_medium
          %input.q{ type: "search", placeholder:"Search Medium", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark-thin"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}

      %h2 Facebook
      .demo.demo-facebook
        .awesome-searchbox_facebook
          %input.q{ type: "search", placeholder:"Search Facebook", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-dark"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon"}


    .row
      .col-6
        %h2 Snippet Css
        %pre.snippet
          %code.language-css
      .col-6
        %h2 Snippet HTML
        %pre.snippet
          %code.language-markup

    %div{style:"height: 0; width: 0; position: absolute; visibility: hidden"}
    <!-- inject:svg --><!-- endinject -->

    %script{src:"js/jquery-2.2.0.min.js"}
    %script{src:"js/prism.js",data-manual}
    %script{src:"js/sass.js"}
    :javascript
      var scss = "";
    %script{src:"js/app.js"}
