<!doctype html>
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "ie=edge", http-equiv: "x-ua-compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title Searchbox: One mixin to syle them all
    %link{href: "app.css", rel: "stylesheet"}
    %script{src: "https://use.typekit.net/rwx3htg.js"}
    :javascript
      try{Typekit.load({ async: false });}catch(e){}
    :css
      // tets

  %body.demos
    .demo-header
      %a.github-source{href:"https://github.com/Shipow/searchbox"} Source on Github
      %h1
        %svg.icon
          %use{xlink:href:"#search-icon-17"}
        SearchBox

      -# %ul.list-inline
      -#   %li Google
      -#   %li.separator |
      -#   %li Twitter
      -#   %li.separator |
      -#   %li Amazon
      -#   %li.separator |
      -#   %li Spotify
      -#   %li.separator |
      -#   %li Meetup
      -#   %li.separator |
      -#   %li Medium
      -#   %li.separator |
      -#   %li Facebook
      -#   %li.separator |
      -#   %li Custom

    .examples

      %h2 Google (default)
      .demo.demo-default
        .awesome-searchbox
          %input.q{ type: "search", placeholder:"Search for product, category, SKU, …", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-13"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon-3"}

      %h2 Twitter
      .demo.demo-twitter
        .awesome-searchbox.awesome-searchbox_twitter
          %input.q{ type: "search", placeholder:"Search Twitter", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-8"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon-3"}

      %h2 Amazon
      .demo.demo-amazon
        .awesome-searchbox.awesome-searchbox_amazon
          %input.q{ type: "search", placeholder:"Search Amazon", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-11"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon-2"}

      %h2 Spotify
      .demo.demo-spotify
        .awesome-searchbox.awesome-searchbox_spotify
          %input.q{ type: "search", placeholder:"Search", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-9"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon-4"}

      %h2 Meetup
      .demo.demo-meetup
        .awesome-searchbox.awesome-searchbox_meetup
          %input.q{ type: "search", placeholder:"Search Meetup", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-13"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon-3"}

      %h2 Medium
      .demo.demo-medium
        .awesome-searchbox.awesome-searchbox_medium
          %input.q{ type: "search", placeholder:"Search Medium", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-11"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon-1"}

      %h2 Facebook
      .demo.demo-facebook
        .awesome-searchbox.awesome-searchbox_facebook
          %input.q{ type: "search", placeholder:"Search Facebook", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-8"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon-4"}

      %h2 Custom
      .demo.demo-custom
        .awesome-searchbox.awesome-searchbox_custom
          %input.q{ type: "search", placeholder:"Search your website", autocomplete: "off"}>
          .ui-icon-input
            %svg.icon
              %use{xlink:href:"#search-icon-10"}
          .clear-q.hide
            %svg.icon
              %use{xlink:href:"#clear-icon-3"}
    .settings
      %form#settings
        .col-6
          %h2 Apparence
          -# %p
          -#   %label namespace
          %input{type:"hidden", name:"$config-name", value:"awesome-searchbox_custom"}
          %p
            %label width
            %input{type:"text", name:"$search-input-width", value:"250px"}
          %p
            %label height
            %input{type:"text", name:"$search-input-height", value:"50px"}
          %p
            %label font-size
            %input{type:"text", name:"$search-font-size", value:"14px"}
          %p
            %label border-width
            %input{type:"text", name:"$search-border-width", value:"2px"}
          %p
            %label border-radius
            %input{type:"text", name:"$search-border-radius", value:"25px"}
          %p
            %label border-color
            %input.jscolor{type:"text", name:"$search-input-border-color", value:"#ccc"}
          %p
            %label background-color
            %input.jscolor{type:"text", name:"$search-input-background", value:"white"}
          %p
            %label placeholder-color
            %input.jscolor{type:"text", name:"$search-placeholder-color", value:"#aaa"}


          %h2 Focus
          %p
            %label focus-border-color
            %input.jscolor{type:"text", name:"$search-input-focus-border-color", value:"#E5186F"}
          %p
            %label focus-background-color
            %input.jscolor{type:"text", name:"$search-input-focus-background", value:"white"}
        .col-6
          %h2 Search icon
          %p
            %label icon-img
            %input{type:"text", name:"$search-icon", value:"12"}
          %p
            %label icon-size
            %input{type:"text", name:"$search-icon-size", value:"26px"}
          %p
            %label icon-position
            %input{type:"text", name:"$search-icon-position", value:"right"}
          %p
            %label icon-color
            %input.jscolor{type:"text", name:"$search-icon-color", value:"#E5186F"}
          %p
            %label icon-background-color
            %input.jscolor{type:"text", name:"$search-icon-background", value:"transparent"}

          %h2 clear
          %p
            %label icon-clear-img
            %input{type:"text", name:"$icon-clear", value:"1"}
          %p
            %label icon-clear-size
            %input{type:"text", name:"$search-clear-size", value:"12px"}
          %p
            %button.btn-update{type:"button"} Update

    .row
      %h2 Search icons
      .icons
        %svg.icon
          %use{xlink:href:"#search-icon-1"}
        %svg.icon
          %use{xlink:href:"#search-icon-2"}
        %svg.icon
          %use{xlink:href:"#search-icon-3"}
        %svg.icon
          %use{xlink:href:"#search-icon-4"}
        %svg.icon
          %use{xlink:href:"#search-icon-5"}
        %svg.icon
          %use{xlink:href:"#search-icon-6"}
        %svg.icon
          %use{xlink:href:"#search-icon-7"}
        %svg.icon
          %use{xlink:href:"#search-icon-8"}
        %svg.icon
          %use{xlink:href:"#search-icon-9"}
        %svg.icon
          %use{xlink:href:"#search-icon-10"}
        %svg.icon
          %use{xlink:href:"#search-icon-11"}
        %br
        %svg.icon
          %use{xlink:href:"#search-icon-12"}
        %svg.icon
          %use{xlink:href:"#search-icon-13"}
        %svg.icon
          %use{xlink:href:"#search-icon-14"}
        %svg.icon
          %use{xlink:href:"#search-icon-15"}
        %svg.icon
          %use{xlink:href:"#search-icon-16"}
        %svg.icon
          %use{xlink:href:"#search-icon-17"}
        %svg.icon
          %use{xlink:href:"#search-icon-18"}
        %svg.icon
          %use{xlink:href:"#search-icon-19"}
        %svg.icon
          %use{xlink:href:"#search-icon-20"}
        %svg.icon
          %use{xlink:href:"#search-icon-21"}
        %svg.icon
          %use{xlink:href:"#search-icon-22"}
      %h2 Clear icons
      .icons
        %svg.icon
          %use{xlink:href:"#clear-icon-1"}
        %svg.icon
          %use{xlink:href:"#clear-icon-2"}
        %svg.icon
          %use{xlink:href:"#clear-icon-3"}
        %svg.icon
          %use{xlink:href:"#clear-icon-4"}

    .row
      .col-6
        %h2 Snippet Css
        %pre.snippet
          %code.language-css
      .col-6
        %h2 Snippet HTML
        %pre.snippet
          %code.language-markup
      .col-6
        %h2 Snippet Scss
        %pre.snippet
          %code.language-scss
      .col-6
        %h2 Snippet Javascript
        %pre.snippet
          %code.language-js

    %div{style:"height: 0; width: 0; position: absolute; visibility: hidden"}
    <!-- inject:svg --><!-- endinject -->

    %script{src:"js/jquery-2.2.0.min.js"}
    %script{src:"js/prism.js",data-manual}
    %script{src:"js/sass.js"}
    %script{src:"js/jscolor.min.js"}
    :javascript
      var scss = "";
    %script{src:"js/app.js"}
