.clear-icon {
  width: 15px;
  height: 15px;
}

.search-icon-dark-thin {
  width: 16px;
  height: 16px;
}

.search-icon-dark {
  width: 14px;
  height: 14px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

