$amazon-yellow: #FFBF58;

$amazon: (
  theme: 'asb-amazon',
  search-input-height: 38px,
  search-border-radius: 3px,
  search-icon-background: $amazon-yellow,
  search-icon-background-opacity: 1,
  search-font-size: 14px,
  search-icon-size: 20px,
  search-icon-position: right,
  search-input-border-color: white,
  search-input-focus-border-color: $amazon-yellow,
  search-icon-color: #202F40
);
