$google: (
  theme: 'asb-google',
  search-input-height: 40px,
  search-input-width: 500px,
  search-input-border-color: #ccc,
  search-input-background: white,
  search-input-focus-background: white,
  search-input-focus-border-color: #3E82F7,
  search-font-size: 14px,
  search-placeholder-color: #aaa,
  search-border-width: 1px,
  search-border-radius: 3px,
  search-icon-position: right,
  search-icon-color: white,
  search-icon-background: #3E82F7,
  search-icon-background-opacity: 1,
  search-clear-size: 12px
);
