$spotify: (
  search-namespace: 'sbx-spotify',
  search-input-height: 24px,
  search-input-width: 200px,
  search-border-radius: 12px,
  search-icon-background: #FFFFFF,
  search-icon-background-opacity: 0,
  search-font-size: 12px,
  search-icon-size: 12px,
  search-icon-position: left,
  search-input-border-color: #FFFFFF,
  search-input-focus-border-color: #FFFFFF,
  search-icon-color: #222,
  search-icon: 'search-icon-9',
  search-clear-icon: 'clear-icon-4'
);
