$facebook: (
  search-namespace: 'asb-facebook',
  search-input-height: 25px,
  search-input-width: 500px,
  search-clear-size: 12px,
  search-border-width: 0,
  search-border-radius: 3px,
  search-icon-background: #F6F7F8,
  search-icon-background-opacity: 1,
  search-font-size: 13px,
  search-input-background: #FFFFFF,
  search-input-focus-background: #FFFFFF,
  search-icon-position: right,
  search-placeholder-color: #AAAAAA,
  search-icon-color: #3C5BA2,
  search-icon: 'search-icon-8',
  search-icon-size: 14px,
  search-clear-icon: 'clear-icon-4'
);
